.box{
    background-color: rgb(255,236,204);
    height: 75dvh;
    width: 70%;
    align-content: center;
    padding-left: 85px;
}
.box1{
    padding: 0px;
    width: 50%;
}
.box3{
    height: 62dvh;
}
.box5{
    background-color: rgb(162,125,82);
}
.sub{
    background-color: rgb(241,231,231);
}